[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
autopep8 = {version = "*",index = "pypi"}
bandit = {version = "*",index = "pypi"}
flake8 = {version = "*",index = "pypi"}
flake8-import-order = {version = "*",index = "pypi"}
flake8-blind-except = {version = "*",index = "pypi"}
flake8-builtins = {version = "*",index = "pypi"}
flake8-logging-format = {version = "*",index = "pypi"}
flake8-docstrings = {version = "*",index = "pypi"}
flake8-bandit = {version = "*",index = "pypi"}
doc8 = {version = "*",index = "pypi"}
sphinx = {version = "*",index = "pypi"}
sphinxcontrib-napoleon = {version = "*",index = "pypi"}
twine = {version = "*",index = "pypi"}
pytest = "*"

[packages]
pandas = {version = "*",index = "pypi"}
requests = {version = "*",index = "pypi"}

[requires]
python_version = "3.7.2"
